html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body { 
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Comfortaa';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;

  background-color: var(--main-background-color, #f6f2ef);
  color: var(--main-text-color, #322e2b);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden ;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 30px;
}

.section {
  padding: 60px 0;
}

.section__title {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
}