.banner {
  background-image: url(../../img/tmp-banner.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
}

.banner__wrapper {
  position: relative;
  height: 100%;
}

.banner__wrapper-items {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-background-color, #f6f2ef);
  max-width: 800px;
  text-align: center;
}

.banner__title {
  /* font-family: 'Rubik Scribble'; */
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 40px;
}

.banner__subtitle {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 15px
}

.banner__description {
  text-align: right;
}

.banner__scroll-to-next-block {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  font-size: 0;
}

.banner__scroll-to-next-block:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}