.popular-test {
  display: flex;
  background-color: #eae6ca;
  padding: 0;
}

.popular-test__img {
  height: 90vh;
}

.popular-test__items-wrapper {
  display: flex;
  align-items:center;
  margin-left: -5%;
}

.popular-test__list {
  display: flex;
  gap: 20px;
  z-index: 0;
}

.popular-test__item-img {
  width: 400px;
}
