.popular {
  display: flex;
  background-color: var(--accent-color, #a1746e);
  padding: 0;
}

.popular__img {
  height: 90vh;
}

.popular__items-wrapper {
  display: flex;
  align-items:center;
  margin-left: -5%;
}

.popular__list {
  display: flex;
  gap: 20px;
  z-index: 0;
}

.popular__item-img {
  width: 400px;
}
